@import url('https://fonts.googleapis.com/css2?family=Delius+Unicase&family=Megrim&display=swap');



.muzieknootjes {
  display: block;
  margin: auto;
  position: relative;
  width: 50%;
  min-width: 300px;
  height: 200px;
  border: 0px solid #fff;
}

.noot-1,
.noot-2,
.noot-3,
.noot-4 {
  position: inherit;
  animation: notes 2s infinite linear;
  font-size: 35px;
  opacity: 0;
}

.noot-1 {
  top: 60px;
  left: 0;
  animation-delay: 0.5s;
}

.noot-2 {
  top: 30px;
  left: 30%;
  animation-delay: 1s;
}

.noot-3 {
  top: 90px;
  left: 60%;
  animation-delay: 1.5s;
}

.noot-4 {
  top: 40px;
  left: 90%;
  animation-delay: 2s;
}

@keyframes notes {
  0% {
    transform: scale(1) translate(0, 0);
    opacity: 0;
  }
  50% {
    opacity: 1;
    transform: scale(1.5) translate(50%, -50%);
  }
  80% {
    opacity: 0;
    transform: scale(1.5) translate(100%, -100%);
  }
  100% {
    transform: scale(1.5) translate(100%, -100%);
    opacity: 0;
  }
}

h2 {
	color: rgb(252,100,4);
	font-family: 'Megrim';
	font-size: 60px;
}

h3 {
	color: rgb(252,4,108);
	font-family: 'Megrim';
	font-size: 30px;
}

h4 {
	color: rgba(235,172,201,255);
	font-family: 'Delius Unicase';
	font-size: 20px;
}

body { 
	
	background-color: rgb(164,100,180);
	font-family: 'Delius Unicase';



 }

 li {

 	color: rgb(252,4,108);
 }

 a {

 	color: rgba(123,237,201,255);

 }

 a:hover {

 	font-size: 20px;
 	
 }

  a:visited {

 	color:rgba(123,237,201,255);
 	font-size: 13px;
 	font-family: sans-serif;
 	
 }

